body{
  background-color: #FBF46D;
  text-align: center;
}
.carousel-item h3{
  font-weight: lighter;
}
.table-light{
  background-color: #B4FE98;
}
td{
  font-size: 80%;
}

.edu{
  padding: 3% 0 2% 0;
}
.ach{
  padding: 3% 0 2% 0;
}
.achievements{
  text-align: left;
}

.slideimg{
  width: 30%;
}
@media (max-width: 1100px){
  .slideimg{
    width: 50%;
  }
  h3{
    line-height: 1.5;
  }
  #footer{
    margin-top: 20%;
  }
}
.proj{
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.projects{
  text-align: left;
  line-height: 2.5;
  margin-top: 5rem;
}




#footer{
  padding: 3% 0;
  background-color: #77E4D4;
}

.fawesome{
  margin: 2%;
}
.copyrighttag{
  margin-top: 2%;
}
